
body{
	background-color: #f3f5f7;
	/*height: 1500px;*/
}
/*版心*/
.w{
	width: 1200px;
	margin:auto;
}
/*header 部分开始*/
header{
	width: 1300px;
	height: 100px;
	/*background-color: pink;*/
	margin:0 auto;
	padding-top: 30px;
}
.logo{
	float: left;
}
header .logo a{
	display: inline-block;
	width: 195px;
	height: 42px;
	/*background-color: purple;*/
	background: url(../img/logo.png) no-repeat;
	text-indent: -999px;			/*首行缩进*/
	overflow: hidden;
}
/*nav部分开始*/
nav{
	float: left;
	margin-left: 20px;
}
nav li{
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 25px;
}
nav li a{
	display:block;
	height: 40px;
	font-size: 18px;
	padding:0 10px;
	
}
nav li a:hover{
	border-bottom: 2px solid #00a4ff;
}
/*search 搜索部分开始*/
.search{
	width: 410px;
	height: 40px;
	float: left;
	margin-left: 160px;
}
.search input{
	width: 361px;
	height: 40px;
	border:1px solid #00a4ff;
	float: left;
	outline: none;
	padding-left: 8px;
}
.search button{
	width: 49px;
	height: 40px;
	border:0;
	outline: none;
	background: url(../img/fa-search.png) no-repeat;
	float: left;
}
/*personal 个人中心部分开始*/
.personal{
	/*background-color: skyblue;*/
	float: right;
	height: 40px;
	line-height: 40px;
}
.personal dt,.personal dd{
	float: left;
}
.personal s{
	width: 14px;
	position: relative;
	padding: 0 20px;
	text-decoration: none;
}
.personal s::before{
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	right: 18px;
}
.personal span img{
/*	width: 33px;
	height: 33px;			直接对图片进行操作不用加这些东西
	overflow: hidden;*/  
	border-radius: 50%;
	margin-right: 8px;
	transition:all 0.5s;
}
.personal span img:hover{
	transform:rotate(-360deg);
}
/*banner 部分开始*/
.banner{
	height: 420px;
	background-color: #1c036c;
}
/*banner 图片开始*/
.inner{
	height: 420px;
	position: relative;
}
/*侧边栏开始*/
.subnav{
	width: 190px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(0, 0 , 0, .3);
	padding-top: 8px;
}
.subnav li{
	padding-left: 20px;
	height: 45px;
	line-height: 45px;
}
.subnav li a{
	display: inline-block;
	font-size: 14px;
	color:#00a4ff;
	height: 45px;
	width: 100%;
}
.subnav a::after{
	color:#cfcdd5;
	content: "\ea42";
	font-family: "icomoon";
	float: right;
	margin-right: 20px;
	transition:all 0.6s;
}
.subnav a:hover::after{
	color:#00a4ff;
	transform:rotate(180deg);
}
/*小圆点 开始*/
.circle{
	width: 160px;
	height: 20px;
	/*background-color: pink;*/
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -100px;
}
.circle i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background:rgba(255, 255, 255, 0.3);
	margin-right: 10px;
	border-radius: 7px;
	cursor: pointer;
	transition:all 0.5s;
}
.circle i:hover{
	transform:scale(1.5, 1);
	background-color: #fff;
}
/*小圆点开始*/
.timebook{
	width: 228px;
	height: 300px;
	position: absolute;
	top: 50%;
	right: 0;
	transform:translate(0, -50%);
	background-color: #fff;
}
.timebook dt{
	font-size: 18px;
	color:#fff;
	background-color: #9bceea;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-weight: 700;
}
.timebook dd{
	padding:10px 20px;
	height: 60px;
}
.timebook dd:nth-child(3){
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.timebook s{
	font-size: 16px;
	color: #5f5f5f;
	text-decoration: none;
}
.timebook i{
	font-size: 14px;
	color: #4e4e4e;
}
.timebook span{
	font-size: 12px;
	color:#a5a5a5;
}
.timebook dd a{
	display: inline-block;
	width: 228px;
	height: 60px;
}
.timebook dd a:hover s,.timebook dd a:hover i,.timebook dd a:hover span{
	color:#00a4ff;
}
.timebook .more{
	width: 200px;
	height: 40px;
	/*background-color: purple;*/
	border:1px solid #00a4ff;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform:translate(-50%,0) ;
}
.timebook .more a{
	display: inline-block;
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color:#00a4ff;
	transition:all 0.3s;
}
.timebook .more a:hover{
	background-color:#00a4ff;
	color:#fff;
}

/*精品推荐 开始*/
.recommend{
	margin: 10px auto;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	padding-left: 30px;
	position: relative;
	border-bottom: 1px solid #ccc
}
.recommend strong{
	color:#00a4ff;
	font-size: 16px;
	margin-right: 20px;
}
.recommend a{
	font-size: 14px;
	margin:0 20px;
}
.recommend em{
	position: absolute;
	right: 30px;
	bottom: 0;
	color:#00a4ff;
}
/*精品 产品开始*/
.products dt{
	height: 55px;
	line-height: 55px;
}
.products dt strong{
	font-size: 20px;
	color:#494949;
}
.products dt a{
	font-size: 12px;
	color: #ababab;
	float: right;
}
.products dt a:hover{
	color:#00a4ff;
}
.products li{
	width: 228px;
	height: 270px;
	/*background-color: pink;*/
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	transition:all 0.5s;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.products li:hover{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	transform:translateY(-8px);
}
.products li:hover img{
	transform:scale(1.1);
}
.products li:nth-child(5){
	margin-right: 0;
}
.products li:nth-child(10){
	margin-right: 0;
}
.products .img-f{
	width: 100%;
	height: 155px;
	overflow: hidden;
}
.products li img{
	width: 100%;
	height: 155px;
	transition:all 0.5s;
}
.products li h3{
	margin:25px 25px 15px;
	font-size: 14px;
	color: #050505;
	font-weight: 400;
}
.products i{
	color:#ff7c2d;
	margin-left: 25px;
}
.products em{
	color:#999999;
}
/*footer 部分开始*/
footer{
	height: 420px;
	background-color: #fff;
	margin-top: 35px;
	padding-top: 30px;
}
/*footer 部分左侧开始*/
.foot-l{
	float: left;
	margin-left: 25px;
}
.f-logo{
	margin-bottom: 20px;
}
.f-logo a{
	display: inline-block;
	width: 195px;
	height: 42px;
	/*background-color: purple;*/
	background: url(../img/logo.png) no-repeat;
	text-indent: -999px;			/*首行缩进*/
	overflow: hidden;
}
.foot-l p{
/*	margin:20px 0;*/
	height: 20px;
	line-height: 20px;
	color:#666666;
	font-size: 12px;
}
.foot-l .down{
	margin-top: 20px;
	width: 120px;
	height: 36px;
	/*background-color: purple;*/
	border:1px solid #00a4ff;
}
.foot-l .down a{
	display: inline-block;
	width: 120px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	color:#00a4ff;
	transition:all 0.3s;
}
.foot-l .down a:hover{
	background-color:#00a4ff;
	color:#fff;
}
/*footer 部分右侧开始*/
.foot-r{
	float:right;
}
.foot-r li{
	float: left;
	width: 225px;
}
.foot-r li:nth-child(3){
	width: 95px;
}
.foot-r li dt{
	font-size: 16px;
	color:#7d7d7d;
	margin-bottom: 10px;
}
.foot-r li dd{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color:#333; 
}